.DS_Store
nvim/.config/nvim/lua/.luarc.json
nvim/.config/nvim/plugin/packer_compiled.lua
helix/.config/helix/runtime
hypr/.config/hypr/monitors.conf
hypr/.config/hypr/hyprpaper.conf
hypr/.config/hypr/hyprlock.conf
hypr/.config/hypr/workspaces.conf
